@CHARSET "UTF-8";
#active{
    width: auto;
    height: 350px;
    border: 1px solid #ccc;
    font-size:12px;
}
#active h2{
    text-indent:0;
    text-align: center;
    margin: 0 0 10px 0;
}
#active p{
    /*font-size: 10px;*/
    text-align: center;
    padding: 5px;
}