@CHARSET "UTF-8";
#list{
	width:600px;
	height: 514px;
	border:1px solid #ccc;
	float: right;
}
#user{
	width:340px;
	height:250px;
	border:1px solid #ccc;
}
#pics{
	width:340px;
	height:250px;
	margin:12px 0 0 0;
	border:1px solid #ccc;
}