@CHARSET "UTF-8";
#member{
    width: auto;
    height: 570px;
    border: 1px solid #ccc;
    font-size:12px;
}
#member h2{
    height: 30px;
    line-height: 30px;
    text-align: center;
}
#member #member_main dl{
    width: 500px;
    margin: 10px auto;
}
#member #member_main dd{
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px dashed #ccc;
}
