@CHARSET "UTF-8";
#post{
    width: auto;
    height: 450px;
    border: 1px solid #ccc;
    font-size:12px;
}
#post h2{
    text-indent:0;
    text-align: center;
}
#post dl{
    width:425px;
    margin:0 auto;
}
#post dl dt{
    text-align: center;
    margin:10px 0;
    font-weight: bold;
}
#post dl dd input.text{
    width: 220px;
    height: 19px;
    border:1px dashed #333;
    margin:10px 0;
}
#post dl dd textarea{
    width: 422px;
    height: 200px;
    border: 1px dashed #333;
    overflow-Y: scroll;
    margin: 10px 0;
}
#post dl dd input.radio{
    margin: 0 5px;
    display: inline-block;
}